<div class="presentation-container">
  <div class="presentation-intro">
    <logotype size="large"></logotype>
    <h1>
      La aplicación móvil desarrollada especialmente para eventos que te permite
      invitar fácilmente a tus amigos y enterarte en tiempo real de los suyos.
    </h1>

    <div class="button-container">
      <button class="button">Descargar .apk</button>
      <div class="tags">
        <div class="tag">
          <p>Beta</p>
          <!-- TODO: icon -->
        </div>
        <div>
          <p>Próximamente</p>
          <!-- TODO: icon -->
        </div>
      </div>
    </div>
  </div>

  <div class="circle-animation">
    <!-- TODO: app product picture -->
  </div>
</div>
